In [56]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.datasets import load_files
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

import csv

In [57]:
data_1 = pd.read_csv('BeijingPM20100101_20151231.csv')

In [58]:
data_1.head()

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0

In [59]:
data_1.drop(['No','season', 'PM_Dongsi', 'PM_Dongsihuan', 'PM_Nongzhanguan',
            'DEWP', 'HUMI', 'PRES', 'TEMP', 'cbwd', 'Iws', 'precipitation', 'Iprec'], axis=1, inplace=True)

In [60]:
data_1.head()

   year  month  day  hour  PM_US Post
0  2010      1    1     0         NaN
1  2010      1    1     1         NaN
2  2010      1    1     2         NaN
3  2010      1    1     3         NaN
4  2010      1    1     4         NaN

In [61]:
data_1['Time Stamp'] = data_1['hour'].astype(str) + ' ' + data_1['day'].astype(str) + ' ' + data_1['month'].astype(str)  + ' ' + data_1['year'].astype(str)

In [62]:
data_1.drop(['hour', 'month', 'day','year'], axis=1, inplace=True)

In [63]:
data_1.head()

   PM_US Post  Time Stamp
0         NaN  0 1 1 2010
1         NaN  1 1 1 2010
2         NaN  2 1 1 2010
3         NaN  3 1 1 2010
4         NaN  4 1 1 2010

In [64]:
from datetime import datetime

for i in range(49579):
    date_string = data_1['Time Stamp'][i]
    data_1['Time Stamp'][i] = datetime.strptime(date_string, '%H %d %m %Y')

c:\users\rakesh\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [66]:
data_2 = data_1

In [72]:
data_2.set_index(data_2['Time Stamp'], inplace=True)

In [75]:
data_2.drop(['Time Stamp'], axis=1, inplace=True)

In [92]:
data_2.to_excel('time_stamp_data.xlsx')

In [97]:
data_2.head()

                     PM_US Post
Time Stamp
2010-01-01 00:00:00         NaN
2010-01-01 01:00:00         NaN
2010-01-01 02:00:00         NaN
2010-01-01 03:00:00         NaN
2010-01-01 04:00:00         NaN

In [100]:
data_1 = pd.read_csv('BeijingPM20100101_20151231.csv')

In [108]:
data_1['PM_US Post'].mean()

95.90424117331851

In [111]:
data_3 = data_2.fillna(data_1['PM_US Post'].mean())
data_3.head()

                     PM_US Post
Time Stamp
2010-01-01 00:00:00   95.904241
2010-01-01 01:00:00   95.904241
2010-01-01 02:00:00   95.904241
2010-01-01 03:00:00   95.904241
2010-01-01 04:00:00   95.904241

In [112]:
data_3.to_excel('time_stamp_mean_data.xlsx')